<p>
  {{ user.code }}
</p>
<div class="enemyHand">
  <p>Amount of enemy Cards: {{ amountOfEnemyCards }}</p>
</div>
<!-- <div class="hand1">
  <div *ngFor="let card of cardsPlayer1">
    <img [src]="card.img" alt="card image">
  </div>
</div> -->
<button (click)="drawXCards(1)">Draw Card</button>

<div>
  <div class="example-container">
    <h2>Battlefield</h2>

    <div class="cardsContainer example-list">
      <div class="example-box" *ngFor="let card of battlefield" cdkDrag>
        <img #img [src]="card.img" alt="card image" />
        <p-contextMenu [target]="img" [model]="items"></p-contextMenu>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="example-container">
      <h2>Hand</h2>

      <div class="cardsContainer example-list">
        <div class="cards" *ngFor="let card of cardsPlayer1">
          <img #imgCardHand [src]="card.img" alt="card image" />
          <p-contextMenu [target]="imgCardHand" [model]="items"></p-contextMenu>
          <p-button
            (click)="moveTo('battlefield', card)"
            label="Play"
          ></p-button>
        </div>
      </div>
    </div>
    <div class="example-container">
      <h2>Graveyard</h2>

      <div class="example-list">
        <img
          *ngIf="graveyard.at(-1)"
          [src]="graveyard.at(-1)?.img"
          [alt]="graveyard.at(-1)?.name"
        />
      </div>
    </div>
  </div>
</div>
