<p>
  {{ user.code }}
</p>
<div class="enemyHand">
  <p>Amount of enemy Cards: {{ amountOfEnemyCards }}</p>
</div>
<!-- <div class="hand1">
  <div *ngFor="let card of cardsPlayer1">
    <img [src]="card.img" alt="card image">
  </div>
</div> -->
<button (click)="drawXCards(1)">Draw Card</button>


<div>
  <app-container>
    <app-draggable-item content="Card 1" [ngStyle]="{'left.px': 20, 'top.px': 20}"></app-draggable-item>
    <app-draggable-item content="Card 2" [ngStyle]="{'left.px': 150, 'top.px': 80}"></app-draggable-item>
  </app-container>

  <app-container>
    <!-- You can drop items here -->
  </app-container>
</div>

<!-- <div cdkDropListGroup>
  <div class="example-container">
    <h2>Battlefield</h2>

    <div
      cdkDropList
      [cdkDropListData]="battlefield"
      class="cardsContainer example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let card of battlefield" cdkDrag>
        <img [src]="card.img" alt="card image" />
      </div>
    </div>
  </div>
  <div class="example-container">
    <h2>Hand</h2>

    <div
      class="cardsContainer example-list"
      cdkDropList
      [cdkDropListData]="cardsPlayer1"
      cdkDragBoundary=".example-container"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="cards" *ngFor="let card of cardsPlayer1" cdkDrag>
        <img [src]="card.img" alt="card image" />
      </div>
    </div>
  </div>
   <div class="example-container">
    <h2>Graveyard</h2>

    <div
      cdkDropList
      [cdkDropListData]="graveyard"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let card of graveyard" cdkDrag>
          <img [src]="card.img" alt="card image">
      </div>
    </div>
  </div> -->
<!-- </div> -->
